@model ValidationApplication.Models.BookModel 
@{
    ViewData["Title"] = "Home Page";
}
<p>This application demonstrates how to validate user input in ASP.NET MVC Views and Razor Pages.</p>

<div class="card card-default">
    <a class="nav-link text-dark" asp-area="" asp-controller="/Book">Go To MVC Validation</a>
</div>
<br/>
<div class="card card-default">
    <a class="nav-link text-dark" asp-area="" asp-page="/CreateBookUsingRazor">Go To Razor Validation</a>
</div>