@page
@model ValidationApplication.Pages.CreateBookModel
@{
}

<div>create book with validation using a <strong>Razor</strong> page</div>

<form asp-page="/CreateBook" asp-page-handler="Book" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label">SKU</label>
        <input asp-for="Input.SKU" class="form-control">
        <span asp-validation-for="Input.SKU"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">ISBN (example 978-3-16-148410-0)</label>
        <input asp-for="Input.ISBN" class="form-control">
        <span asp-validation-for="Input.ISBN"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Input.Name" class="form-control">
        <span asp-validation-for="Input.Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Input.Email" class="form-control">
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm Email</label>
        <input asp-for="Input.EmailRepeated" class="form-control">
        <span asp-validation-for="Input.EmailRepeated"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Url</label>
        <input asp-for="Input.Url" class="form-control">
        <span asp-validation-for="Input.Url"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">NumberOfReaders</label>
        <input asp-for="Input.NumberOfReaders" class="form-control">
        <span asp-validation-for="Input.NumberOfReaders"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-page="/CreateBook" asp-page-handler="Book">Submit</button>
</form>
